<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Servus · Admin Panel</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body id="servus" class="blue-grey darken-4">
    <%= render(App.Live.Admin.HeaderView, "admin", assigns) %>

    <main class="grey darken-3 controller">
      <%= render(@view_module, @view_template, assigns) %>
    </main>

    <%= render(App.Live.Admin.FooterView, "admin", assigns) %>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
