@media screen and (max-width: 992px) {
  #login {
    width: 100%;
    display: block;
    position: relative;
    top: 0px;
  }

  #login .servus.login .servus.logo {
    margin: 35px;
  }

  #header .servus.logo {
    max-width: 140px;
    padding: 5px 0;
  }
}